@use './reset';
@use './variables/' as *;

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $learn-h1;
  padding: 40px 125px;
  height: 250px;

  #nav1-1 {
    display: flex;

    .item1 {
      padding-right: 80px;


      .pp1 {
        font-size: $font-size-20;
        padding-bottom: 25px;
        font-weight: $font-w-bold;
      }
    }

    .item2 {
      padding-bottom: 20px;
      font-size: $font-size-16;
      font-weight: $font-w-medium ;
    }
  }

  #nav1-2 {

    .logo {
      width: 125px;
      margin-bottom: 30px;
      padding-top: 10px;
    }

    .icon {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      .iconfb,.iconig{
        width: 48px;
      }
    }
  }
}