@use './reset';
@use './variables/' as *;

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $learn-h1;
  padding: 40px 125px;
  height: 250px;

  #nav1-1 {
    display: flex;

    .item1 {
      padding-right: 80px;


      .pp1 {
        font-size: 1.25rem;
        padding-bottom: 25px;
      }
    }

    .item2 {
      padding-bottom: 20px;

      p {
        font-size: 1rem;
      }
    }
  }

  #nav1-2 {

    .logo {
      width: 70px;
      margin-bottom: 30px;
    }

    .icon {
      display: flex;
      align-items: center;
      width: 48px;

    }
  }
}