@use './reset';
@use './variables'as *;
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

#Home-page-1 {
    height: 800px;
    background-color: $primary;
}

#page-all {
    background-image: url(../public/images/homeAll.svg);
    background-color: $primary;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Zen Maru Gothic', sans-serif;
}

#page-2 {

    /* height: 1400px;
    background-color: $primary;
    background-image: url('../public/images/homePathA.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
 */
    .content-bk-1 {

        .content-1,
        .content-2 {
            display: flex;
            flex-direction: column;
            font-size: 48px;
            color: $fc-1;
            margin-left: 50px;
            font-weight: $font-w-bold;

            .eng-text-1 {
                margin-left: 30px;
                color: $fc-2;
            }

            .eng-text-2 {
                margin-left: 103px;
                color: $fc-2;
            }

            span {
                font-size: 64px;
                color: #FFFFFF;
                padding: 0 20px;
                text-shadow: 10px 5px $shadow-1;
            }

            .eng-text-1,
            .eng-text-2 {
                font-size: 24px;
            }
        }

        .content-2 {
            margin-left: 256px;
        }
    }

    .content-bk-2 {
        display: flex;
        flex-direction: column;
        margin: 190px 0 0 190px;

        .content-3 {

            display: flex;

            .content-3-img {
                padding: 80px 0 0 50px;
            }

            .text-2 {
                display: inline-block;

                font-size: 32px;
                color: $fc-2;
                font-weight: $font-w-bold;
                background-color: $fc-5;
                line-height: 25px;
                /* 背景顏色待調整 */

            }

            .eng-text-2 {
                font-size: 28px;
                color: $fc-2;
                font-weight: $font-w-bold;
                line-height: 15px;
                background-color: $fc-5;
                display: inline-block;
                margin-top: 15px;
            }

            .sml-text-2 {
                font-size: 20px;
                color: $fc-2;
                font-weight: $font-w-medium;
                padding-top: 20px;


            }
        }

        .content-4 {
            display: flex;
            flex-direction: column;
            margin: 66px 119px 0 0;

            .text-block-2 {
                text-align: right;

                .text-2 {
                    display: inline-flex;
                    background-color: $fc-5;
                    line-height: 25px;
                    font-size: 32px;
                    color: $fc-2;
                    text-align: right;
                    font-weight: $font-w-bold;

                    /* background-color: $fc-5; */
                    /* 背景顏色待調整 */
                }

                .eng-text-2 {
                    display: inline-block;
                    background-color: $fc-5;
                    font-size: 28px;
                    color: $fc-2;
                    font-weight: $font-w-bold;
                    line-height: 15px;
                    margin-top: 15px;
                }

                .sml-text-2 {
                    padding-top: 20px;
                    font-size: 20px;
                    color: $fc-2;

                    font-weight: $font-w-medium;
                }
            }



            .content-4-img {

                padding: 0 50px 0 0;
                transform: rotate(-10deg);
                width: 30%;
                margin: auto;

            }

        }
    }

}

#page-3 {
    margin-top: 80px;


    /* height: 820px;
    background-color: $primary;
    position: relative;
    background-image: url(../public/images/homeDeco.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center; */
    .content-bk {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 75%;

        .content-bk-3 {
            p {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                font-size: 50px;
                background-color: #FFFFFF;
                text-align: center;
                line-height: 65px;
                font-weight: $font-w-bold;
            }
        }

        .content-bk-4 {
            color: $fc-2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 200px;

            .content-5,
            .content-7 {
                text-align: right;
                flex: 1;
                margin-left: 200px;
                padding-bottom: 40px;
            }

            .content-6 {
                text-align: left;
                flex: 1;
                padding-bottom: 50px;
            }

            .text-3 {
                font-size: 32px;
                font-weight: $font-w-bold;
                background: linear-gradient(to top, $fc-5 30%, transparent 30%);
                display: inline-block;

                span {
                    font-size: 58px;
                    color: $fc-4;
                }

                .sml-text-3 {
                    font-size: 20px;
                    font-weight: $font-w-medium;
                }
            }
        }
    }




}

#page-4 {


    /* height: 2000px;
    background-color: $primary;
    background-image: url(../public/images/homePathB.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%; */
    .content-6 {
        display: flex;
        justify-content: flex-end;
        font-size: 36px;
        text-align: center;
        color: #FFFFFF;
        margin-right: 150px;
        padding-top: 160px;
        font-weight: $font-w-bold;
    }

    .content-bk-all {
        display: flex;
        .content-bk-1 {
            margin: 40px 0 0 250px;
            .content-7 {
                transform: rotate(13deg);
                text-align: right;
                font-size: 24px;
                padding-bottom: 10px;
                font-weight: $font-w-bold;
            }
            .content-8 {
                transform: rotate(-13deg);
                text-align: start;
                padding-top: 10px;
                font-size: 24px;
                font-weight: $font-w-bold;
            }
            .content-img {
                margin: auto;
                width: 210px;
                /* 記得調整 */
                padding-top: 30px;
            }
        }
        .content-bk-2,
        .content-bk-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 100px 0 0 100px;
            padding-bottom: 15px;
            img {
                width: 250px;
                /* 記得調整 */
                padding-bottom: 15px;
            }
            .content-9,
            .content-11 {
                font-size: 36px;
                padding-bottom: 15px;
                font-weight: $font-w-bold;
            }
            .content-10,
            .content-12 {
                font-size: 20px;
                text-align: center;
                font-weight: $font-w-medium;
            }
        }
    }

}

#page-5 {

    margin-top: 250px;
    height: 700px;
    .content-bk-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 500px;
        .content-15 {
            background-image: url(../public/images/Home-content-1.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 80%;
        }
        .content-13 {
            text-align: center;
            font-size: 32px;
            font-weight: $font-w-bold;
            margin: 80px 100px 80px 65px;
        }
        .content-bk-5 {
            .greenIp {
                width: 295px;
            }
            .btn {
                width: 251px;
                margin-bottom: 30px;
            }
        }
    }
}