@use "./reset";
@use "./variables/"as *;

#LearnPageExp {
;
    .LearnPageExp-bk-1 {
        display: flex;
        flex-wrap: wrap;

        .LearnPageExp-content-2 {
            progress {
                accent-color: $learn-p1;
                height: 85px;
            }
        }

    }
}