@use './reset';
@use './variables' as *;

#LearnSelectAllpage {
    background-color: $primary;
    height: 100vh;
}

#codeCourse {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;

    @media (max-width:1023px) {
        flex-direction: column;
        align-items: center;
    }

    #codePic {
        position: relative;
        width: 650px;
        height: 650px;

        .tier4 {
            position: absolute;
            z-index: 1;
            background-color: transparent;
            width: 650px;
            height: 650px;
        }

        .tier3 {
            position: absolute;
            z-index: 2;
            background-color: transparent;
            width: 110px;
            height: 80px;
            left: 390px;
            top: 130px;
            transform: rotatey(-180deg);
        }

        .tier2 {
            position: absolute;
            z-index: 3;
            background-color: transparent;
            width: 630px;
            height: 630px;
            left: 20px;
            bottom: 10px;
        }

        .tier1a {
            position: absolute;
            z-index: 4;
            background-color: transparent;
            width: 90px;
            height: 90px;
            top: 155px;
            left: 150px
        }

        .tier1b {
            position: absolute;
            z-index: 5;
            background-color: transparent;
            width: 100px;
            height: 85px;
            bottom: 265px;
            left: 200px;
            transform: rotate(20deg)
        }

        .tier1c {
            position: absolute;
            z-index: 6;
            background-color: transparent;
            width: 80px;
            height: 100px;
            bottom: 120px;
            left: 425px;
        }
    }

    #course {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .select {
            position: relative;
            padding: 20px 0;

            a {
                display: block;
                width: 450px;
                height: 275px;
                background-size: cover;
                background-position: center;
                transition: background-image 0.3s ease-in-out;
            }

            h3 {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-48;
                color: white;
            }
        }

        .HTML {
            a {
                background-image: url('/images/learnSelectHTML.svg');

                &:hover {
                    background-image: url('/images/learnSelectHTML_hover.svg');
                }
            }
        }

        .CSS {
            a {
                background-image: url('/images/learnSelectCSS.svg');

                &:hover {
                    background-image: url('/images/learnSelectCSS_hover.svg');
                }
            }
        }
    }
}