@use './reset';
@use './variables' as *;

#LearnSelectAllpage {
    background-color: $primary;
    height: 100vh;
}

#codeCourse {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;

    @media (max-width:1023px) {
        flex-direction: column;
        align-items: center;
    }

    #codePic {
        position: relative;
        width: 650px;
        height: 650px;

        .tier4 {
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }

        .tier3 {
            position: absolute;
            z-index: 2;
            width: 120px;
            height: 100px;
            left: 400px;
            top: 120px;
            transform: rotate(-20deg);

            &:hover {
                animation: rotateIn 350ms ease-in-out forwards;
            }

            &:not(:hover) {
                animation: rotateOut 350ms ease-in-out forwards;
            }
        }

        .tier2 {
            position: absolute;
            z-index: 3;
            pointer-events: none;
        }

        .tier1a {
            position: absolute;
            z-index: 4;
            top: 140px;
            left: 160px;

            &:hover {
                g.eye {
                    animation: translateXIn 350ms ease-in-out both;
                }
            }

            &:not(:hover) {
                g.eye {
                    animation: translateXOut 350ms ease-in-out forwards;
                }
            }
        }

        .tier1b {
            position: absolute;
            z-index: 5;
            bottom: 255px;
            left: 230px;
            transform: rotate(20deg)
        }

        .tier1c {
            position: absolute;
            z-index: 6;
            width: 80px;
            height: 100px;
            bottom: 90px;
            right: 120px;
        }
    }

    #course {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .select {
            position: relative;
            padding: 20px 0;

            a {
                display: block;
                width: 450px;
                height: 275px;
                background-size: cover;
                background-position: center;
                transition: background-image 0.3s ease-in-out;
            }

            h2 {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-48;
                font-weight: $font-w-bold;
                color: white;
            }
        }

        .HTML {
            a {
                background-image: url('../images/learnSelectHTML.svg');

                &:hover {
                    background-image: url('../images/learnSelectHTML_hover.svg');
                }
            }
        }

        .CSS {
            a {
                background-image: url('../images/learnSelectCSS.svg');

                &:hover {
                    background-image: url('../images/learnSelectCSS_hover.svg');
                }
            }
        }
    }
}




/* 小粉愛心 */
@keyframes translateXIn {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes translateXOut {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* 小紅旋轉 */
@keyframes rotateIn {
    0% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(8deg)
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

