@use './reset';
@use './variables/' as *;

#LearnAreaall3 {
    height: 250vh;
    background-color: $primary;
    background-image: url('../../../public/images/learnAreaLine.svg');
    background-size: w;
    background-position: center;
    background-repeat: no-repeat;

    .wordclass {
        .learnbigtitle {
            
            padding: 45px 0 0 65px;
            .bigtitleimg{
                width: 310px;
                height: 140px;
            }
        }

        .learnwordall {

            .learnword {
                display: flex;
                justify-content: center;
                align-items: center;
                             

                .wordall {
                    display: flex;
                    flex-direction: column;padding-bottom: 40px;

                    .wwword {
                        font-size: $font-size-40;
                        font-weight: $font-w-black;
                        color: $fc-6;
                        -webkit-text-stroke: 1px $fc-7;
                        text-stroke: 1px $fc-7;
                        position: relative;
                        padding-left: 100px;
                    }

                    .wordtitle1 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../public/images/icon_greenA.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }
                    .wordtitle2 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../public/images/icon_red.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }
                    .wordtitle3 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../public/images/icon_blue.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }

                }

                .wordcontent {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 560px;
                    height: 100px;
                    padding: 10px 55px;
                    margin-right: 90px;
                    font-size: $font-size-16;
                    font-weight: $font-w-medium;
                    word-wrap: break-word;
                    word-break: keep-all;
                    text-align: center;

                    border-radius: 99px;
                    background-color:$fc-6 ;
                }

                .wordEnglish1 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../../../public/images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../../../public/images/learnAreaBoardS.png');
                    }
                }

                .wordEnglish2 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../../../public/images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../../../public/images/learnAreaBoardI.png');
                    }
                }

                .wordEnglish3 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../../../public/images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../../../public/images/learnAreaBoardU.png');
                    }
                }
            }
        }


    }

    #LearnAreaall3-1{
        .learnimportant{
            .impbox{
                width: 777px;
                height: 300px;
                background-image: url('../../../public/images/learnAreaPoint.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
    
                &:hover {
                    background-image: url('../../../public/images/learnAreaPoint_hover.svg');
                }
            }
            .charblue{
                width: 10%;
            }
            .cloud1{
                width: 17%;
            }
        }
    }
}
