@use "./reset";
@use "./variables" as *;

#login-page {
    overflow: hidden;
    background-color: $primary; // 背景黃色
    height: 100vh;
    // border: 1px solid red;

    .login-main {
        // overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        // border: 1px solid red;

        .amoeba-blobs {
            width: 90%;
            position: relative;
            left: 152px;
            top: -350px;
            overflow: hidden;
            // border: 1px solid red;
        }

        .characters {
            .green-char {
                width: 180px;
                height: 180px;
                position: absolute;
                bottom: 595px;
                left: 380px;
                transform: rotate(60deg);

                // @keyframes rotate-small {
                //     0% {
                //         transform: rotate(0deg);
                //     }
                //     50% {
                //         transform:translateX(20px);
                //     }
                //     100% {
                //         transform: rotate(0deg);
                //     }
                // }
            }

            }
            .red-char {
                width: 220px;
                height: 220px;
                position: absolute;
                bottom: 20px;
                left: 1230px;

                // transform: rotate(5deg) rotateY(-180deg);
                // border: 1px solid red;
            }
            .blue-char {
                width: 175px;
                height: 175px;
                position: absolute;
                bottom: 300px;
                left: 140px;
            }
            .pink-char {
                width: 175px;
                height: 175px;
                position: absolute;
                bottom: 20px;
                left: 610px;
                z-index: 888;
                // border: 1px solid red;

                animation: rotate-small 2s ease-in-out infinite;
                @keyframes rotate-small {
                    0% {
                        transform: rotate(0);
                    }
                    15% {
                        transform:translateX(30px);
                    }
                    50% {
                        transform: rotate(0);
                    }
                }

        }

        .login-form {
            flex: 1;
            background-color: $register-1; // 淺粉色
            padding: 36px;
            border-radius: 20px;
            box-shadow: 8px 8px 0 $shadow-3;
            width: 400px;
            position: absolute;
            bottom: 150px;
            left: 800px;
            z-index: 777;
            // border: 1px solid red;

            h2 {
                color: $shadow-3; // 紫色標題
                text-align: center;
                font-size: $font-size-32;
                font-weight: $font-w-bold;
                margin-bottom: 24px;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    color: $shadow-3;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                input {
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    padding: 8px;
                    margin-bottom: 16px;
                }

                .forgot-password {
                    text-align: right;
                    color: $shadow-3;
                    font-size: 0.9rem;
                    margin-bottom: 16px;
                }

                .login-button {
                    background-color: $shadow-3;
                    color: #fff;
                    border: none;
                    padding: 18px 36px;
                    border-radius: 10px;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;

                    // &:hover {
                    //     background-color: $shadow-3;
                    // }
                }
            }

            .login-divider {
                display: flex;
                align-items: center;
                margin: 24px 0;

                hr {
                    flex: 1;
                    border: none;
                    height: 2px;
                    background-color: $register-2;
                }

                span {
                    margin: 0 8px;
                    color: $register-2;
                    font-weight: bold;
                }
            }

            .social-login {
                display: flex;
                justify-content: space-around;

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}
