@use './reset';
@use './variables'as *;

.navBarBk {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    position: sticky;
    z-index: 999;


    .navlogo {
        width: 87px;
        height: 53px;
    }

    .navBarBk-1 {
        display: flex;
        margin: 5px;

        .navlearningBtn {
            width: 220px;
            height: 48px;
            margin-right: 50px;
        }

        .navhamBtn {
            width: 48px;

        }
    }
}

/* 漢堡按鈕的進場動畫 */
.HumMenu {
    position: fixed;
    right: -10px;
    top: 15px;
    z-index: 999;
    transition: transform 0.5s ease;
}
.HumMenu.show {
    transform: translateX(-1%);
}
.HumMenu.hide {
    transform: translateX(100%);
}