@use './reset';
@use './variables'as *;

.navBarBk {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    position: sticky;
    z-index: 999;


    .logo {
        width: 87px;
        height: 53px;
    }

    .navBarBk-1 {
        display: flex;
        margin: 5px;

        .learningBtn {
            width: 220px;
            height: 48px;
            margin-right: 50px;
        }

        .hamBtn {
            width: 48px;

        }
    }
}