@use './reset';
@use './variables/' as *;
.cardcontent{ 
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 180px 0 0 0;
    z-index: 100;
    
    .card1 {
        display: flex;
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        width: 250px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;
        

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../public/images/trendSecond.png');
            background-position: center ;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
    .card2 {
        display: flex;
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        width: 250px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../public/images/trendFirst.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
    .card3 {
        display: flex;
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        width: 250px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../public/images/trendThird.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
}