@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #666;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#page-all {
  background-image: url(../public/images/homeAll.svg);
  background-color: #FFD640;
  background-size: cover;
  background-repeat: no-repeat;
}

#page-2 {
  height: 1400px;
  /* height: 1400px;
     background-color: $primary;
     background-image: url('../public/images/homePathA.png');
     background-position: left center;
     background-repeat: no-repeat;
     background-size: 100%;
  */
}
#page-2 .content-bk-1 .content-1,
#page-2 .content-bk-1 .content-2 {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  color: #CA5171;
  margin-left: 50px;
}
#page-2 .content-bk-1 .content-1 .eng-text-1,
#page-2 .content-bk-1 .content-2 .eng-text-1 {
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.85);
}
#page-2 .content-bk-1 .content-1 .eng-text-2,
#page-2 .content-bk-1 .content-2 .eng-text-2 {
  margin-left: 103px;
  color: rgba(0, 0, 0, 0.85);
}
#page-2 .content-bk-1 .content-1 span,
#page-2 .content-bk-1 .content-2 span {
  font-size: 64px;
  color: #FFFFFF;
  padding: 0 20px;
}
#page-2 .content-bk-1 .content-1 .eng-text-1,
#page-2 .content-bk-1 .content-1 .eng-text-2,
#page-2 .content-bk-1 .content-2 .eng-text-1,
#page-2 .content-bk-1 .content-2 .eng-text-2 {
  font-size: 24px;
}
#page-2 .content-bk-1 .content-2 {
  margin-left: 256px;
}
#page-2 .content-bk-2 {
  display: flex;
  flex-direction: column;
  margin: 190px 0 0 190px;
}
#page-2 .content-bk-2 .content-3 {
  display: flex;
}
#page-2 .content-bk-2 .content-3 .content-3-img {
  padding: 80px 0 0 50px;
}
#page-2 .content-bk-2 .content-3 .text-2 {
  display: inline-block;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #FFF0C0;
  /* 背景顏色待調整 */
}
#page-2 .content-bk-2 .content-3 .eng-text-2 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.85);
}
#page-2 .content-bk-2 .content-3 .sml-text-2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}
#page-2 .content-bk-2 .content-4 {
  display: flex;
  flex-direction: column;
  margin: 66px 119px 0 0;
}
#page-2 .content-bk-2 .content-4 .text-2 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
  /* background-color: $fc-5; */
  /* 背景顏色待調整 */
}
#page-2 .content-bk-2 .content-4 .eng-text-2 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
}
#page-2 .content-bk-2 .content-4 .sml-text-2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
}
#page-2 .content-bk-2 .content-4 .content-4-img {
  padding: 0 50px 0 0;
  transform: rotate(-10deg);
  width: 30%;
  margin: auto;
}

#page-3 {
  height: 820px;
  /* height: 820px;
  background-color: $primary;
  position: relative;
  background-image: url(../public/images/homeDeco.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center; */
}
#page-3 .content-bk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 75%;
}
#page-3 .content-bk .content-bk-3 p {
  width: 65px;
  border-radius: 50%;
  font-size: 50px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 65px;
}
#page-3 .content-bk .content-bk-4 {
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 200px;
}
#page-3 .content-bk .content-bk-4 .content-5,
#page-3 .content-bk .content-bk-4 .content-7 {
  text-align: right;
  flex: 1;
  margin-left: 200px;
  padding-bottom: 40px;
}
#page-3 .content-bk .content-bk-4 .content-6 {
  text-align: left;
  flex: 1;
  padding-bottom: 50px;
}
#page-3 .content-bk .content-bk-4 .text-3 {
  font-size: 32px;
}
#page-3 .content-bk .content-bk-4 .text-3 span {
  font-size: 58px;
  color: #69B169;
}
#page-3 .content-bk .content-bk-4 .text-3 .sml-text-3 {
  font-size: 20px;
}

#page-4 {
  height: 1000px;
  /* height: 2000px;
  background-color: $primary;
  background-image: url(../public/images/homePathB.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%; */
}
#page-4 .content-6 {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 150px;
  padding-top: 160px;
}
#page-4 .content-bk-all {
  display: flex;
}
#page-4 .content-bk-all .content-bk-1 {
  width: 300px;
  margin: 40px 0 0 250px;
}
#page-4 .content-bk-all .content-bk-1 .content-7 {
  transform: rotate(13deg);
  text-align: right;
  font-size: 24px;
  padding-bottom: 10px;
}
#page-4 .content-bk-all .content-bk-1 .content-8 {
  transform: rotate(-13deg);
  text-align: start;
  padding-top: 10px;
  font-size: 24px;
}
#page-4 .content-bk-all .content-bk-1 .content-img {
  margin: auto;
  width: 210px;
  padding-top: 30px;
}
#page-4 .content-bk-all .content-bk-2,
#page-4 .content-bk-all .content-bk-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 100px;
  padding-bottom: 15px;
}
#page-4 .content-bk-all .content-bk-2 img,
#page-4 .content-bk-all .content-bk-3 img {
  width: 250px;
  padding-bottom: 15px;
}
#page-4 .content-bk-all .content-bk-2 .content-9,
#page-4 .content-bk-all .content-bk-2 .content-11,
#page-4 .content-bk-all .content-bk-3 .content-9,
#page-4 .content-bk-all .content-bk-3 .content-11 {
  font-size: 36px;
  padding-bottom: 15px;
}
#page-4 .content-bk-all .content-bk-2 .content-10,
#page-4 .content-bk-all .content-bk-2 .content-12,
#page-4 .content-bk-all .content-bk-3 .content-10,
#page-4 .content-bk-all .content-bk-3 .content-12 {
  font-size: 20px;
  text-align: center;
}

#page-5 {
  height: 700px;
}
#page-5 .content-bk-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 500px;
}
#page-5 .content-bk-4 .content-15 {
  background-image: url(../public/images/Home-content-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 80%;
}
#page-5 .content-bk-4 .content-13 {
  text-align: center;
  font-size: 32px;
  margin: 80px 100px 80px 65px;
}
#page-5 .content-bk-4 .content-bk-5 .greenIp {
  width: 295px;
}
#page-5 .content-bk-4 .content-bk-5 .btn {
  width: 251px;
  margin-bottom: 30px;
}/*# sourceMappingURL=Home.css.map */