@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#LearnGameChoose-page-all {
  background-color: #FFD640;
}

#LearnGameChoose-page {
  height: 100vh;
  /* 確保父容器高度為視口高度 */
  display: flex;
  /* 啟用 flexbox 布局 */
  justify-content: center;
  /* 水平方向置中 */
  margin-top: 50px;
  /* 垂直方向置中 */
  background-color: #FFD640;
  position: relative;
}
#LearnGameChoose-page .LearnGameChoose-img-position-1 {
  position: absolute;
  width: 5%;
  left: 50px;
  top: 100px;
}
#LearnGameChoose-page .LearnGameChoose-img-position-2 {
  position: absolute;
  width: 3%;
  right: 50px;
  top: 200px;
}
#LearnGameChoose-page .LearnGameChoose-img-position-3 {
  position: absolute;
  width: 2%;
  left: 80px;
  bottom: 100px;
}
#LearnGameChoose-page .LearnGameChoose-img-position-4 {
  position: absolute;
  width: 5%;
  right: 110px;
  bottom: 100px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard {
  height: 75%;
  width: 75%;
  background-color: #2B7551;
  border: 13px solid #C3825A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 68px 100px 83px 100px;
  position: relative;
  z-index: 10;
}
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-img-position-5 {
  position: absolute;
  width: 5%;
  bottom: 0px;
  right: 80px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-content-1,
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-content-2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  gap: 20px;
  padding: 20px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-G {
  background-color: #C1FFE1;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-B {
  background-color: #A0D7FF;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-P {
  background-color: #F1CAF5;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-R {
  background-color: #FBA78B;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-G,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-B {
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 20px;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-G p,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-B p {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 80px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-G img,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-B img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  right: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-P,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-R {
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 20px;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-P p,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-R p {
  text-align: right;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 80px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-P img,
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Choose-bk-R img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  left: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-G {
  background-color: #C1FFE1;
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-G .LearnGameChoose-Ans-bk-content-G .LearnGameChoose-Ans-p1 {
  color: #33BB33;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-G .LearnGameChoose-Ans-bk-content-G .LearnGameChoose-Ans-p2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 1.12rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-G .LearnGameChoose-Ans-bk-content-G img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  right: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-B {
  background-color: #A0D7FF;
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-B .LearnGameChoose-Ans-bk-content-B .LearnGameChoose-Ans-p1 {
  color: #9E4C5F;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-B .LearnGameChoose-Ans-bk-content-B .LearnGameChoose-Ans-p2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 1.12rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-B .LearnGameChoose-Ans-bk-content-B img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  right: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-P {
  background-color: #F1CAF5;
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-P .LearnGameChoose-Ans-bk-content-P .LearnGameChoose-Ans-p1 {
  color: #9E4C5F;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-P .LearnGameChoose-Ans-bk-content-P .LearnGameChoose-Ans-p2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 1.12rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-P .LearnGameChoose-Ans-bk-content-P img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  right: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-R {
  background-color: #FBA78B;
  position: relative;
  flex: 0 0 calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  height: 50%;
  min-height: 55%;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-R .LearnGameChoose-Ans-bk-content-R .LearnGameChoose-Ans-p1 {
  color: #9E4C5F;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-R .LearnGameChoose-Ans-bk-content-R .LearnGameChoose-Ans-p2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 1.12rem;
  font-weight: 700;
}
#LearnGameChoose-page .LearnGameChoose-blackboard #LearnGameChoose-Choose .LearnGameChoose-Ans-bk-R .LearnGameChoose-Ans-bk-content-R img {
  position: absolute;
  /* 絕對定位 */
  bottom: 10px;
  /* 靠底 */
  right: 10px;
  /* 靠右 */
  width: 60px;
  /* 圖片寬度 */
  height: 60px;
  /* 圖片高度 */
}
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-ready-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-right: 80px;
}
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-ready-1 .LearnGameChoose-content-3,
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-ready-1 .LearnGameChoose-content-4 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  background-color: #E7E7E7;
  display: inline-block;
  border-radius: 20px;
  line-height: 60px;
  padding: 0 6px;
  text-align: center;
}
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-ready-1 .LearnGameChoose-img-1,
#LearnGameChoose-page .LearnGameChoose-blackboard .LearnGameChoose-ready-1 .LearnGameChoose-img-2 {
  opacity: 0;
  width: 10%;
}/*# sourceMappingURL=LearnGameChoose.css.map */