@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#register-page {
  overflow: hidden;
  background-color: #FFD640;
  height: 100vh;
}
#register-page .register-main {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#register-page .register-main .amoeba-blobs2 {
  width: 120%;
  position: relative;
  left: 120px;
  bottom: 500px;
  overflow: hidden;
}
#register-page .register-main .characters .green-char {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 480px;
  left: 450px;
  transform: rotate(-35deg);
}
#register-page .register-main .characters .red-char {
  width: 175px;
  height: 175px;
  position: absolute;
  bottom: 220px;
  left: 110px;
  transform: rotate(-5deg);
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
#register-page .register-main .characters .blue-char {
  width: 175px;
  height: 175px;
  position: absolute;
  bottom: 20px;
  left: 550px;
}
#register-page .register-main .characters .pink-char {
  width: 175px;
  height: 175px;
  position: absolute;
  z-index: 888;
  bottom: 20px;
  left: 1230px;
  transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#register-page .register-main .register-form {
  flex: 1;
  background-color: #FEE3EC;
  padding: 36px;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #534D97;
  width: 450px;
  position: absolute;
  bottom: 100px;
  left: 800px;
}
#register-page .register-main .register-form h2 {
  color: #534D97;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#register-page .register-main .register-form form {
  display: flex;
  flex-direction: column;
}
#register-page .register-main .register-form form label {
  color: #534D97;
  font-weight: bold;
  margin-bottom: 8px;
}
#register-page .register-main .register-form form input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 16px;
}
#register-page .register-main .register-form form .forgot-password {
  text-align: right;
  color: #534D97;
  font-size: 0.9rem;
  margin-bottom: 16px;
}
#register-page .register-main .register-form form .register-button {
  background-color: #534D97;
  color: #fff;
  border: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
#register-page .register-main .register-form .register-divider {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
#register-page .register-main .register-form .register-divider hr {
  flex: 1;
  border: none;
  height: 2px;
  background-color: #A2A2A2;
}
#register-page .register-main .register-form .register-divider span {
  margin: 0 8px;
  color: #A2A2A2;
  font-weight: bold;
}
#register-page .register-main .register-form .social-register {
  display: flex;
  justify-content: space-around;
}
#register-page .register-main .register-form .social-register button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=Register.css.map */